<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834201515601-7un1l83c45d480kuun05qkr6l45pa705.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834201515601-7un1l83c45d480kuun05qkr6l45pa705</string>
	<key>API_KEY</key>
	<string>AIzaSyCLo_t3t55XhH5zpsJj6BVyLxSVdGWhifE</string>
	<key>GCM_SENDER_ID</key>
	<string>834201515601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seokjin.BloggingApp</string>
	<key>PROJECT_ID</key>
	<string>bloggingapp-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>bloggingapp-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:834201515601:ios:4f592143e3627425202a70</string>
</dict>
</plist>
